.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.img-categories {
  margin-bottom: 24px;
}

.categories-card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}

.categories-card {
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  position: static;
  padding: 24px 16px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
}
